<div class="container">
  <mat-card class="card" *ngFor="let character of data">
    <mat-card-header>
      <img src="{{ character.image }}" alt="{{ character.name }}">
    </mat-card-header>
    <mat-card-content>
      <span class="title"> {{ character.name | uppercase}}  </span> <br>
      <span class="aditional"> {{ character.status }} <br> {{ character.species }} </span>
    </mat-card-content>
    <button mat-button color="accent" [routerLink]="['/character-details', character.id]"> Details </button>
  </mat-card>
</div>
<div class="custom-paginator">
  <mat-paginator [length]="826"
                 [pageSize]="20"
                 [showFirstLastButtons]="true"
                 aria-label="Select page"
                 (page)="onPaginateChange($event)">
  </mat-paginator>
</div>
