<!-- navbar with all the routerLinks to go to the components -->
<p>
  <mat-toolbar style="background-color: black;" class="mat-elevation-z6">
    <span> Rick And Morty </span>

    <div class="spacer"></div>

    <div>
      <!-- routerlink to the home component -->
      <a mat-button routerLink="home">Home</a>
      <!-- routerlink to the characterList component -->
      <a mat-button routerLink="characters-list">Characters</a>
      <!-- routerlink to the episodesList component -->
      <a mat-button routerLink="episodes">Episodes</a>
      <!-- routerlink to the locations component -->
      <a mat-button routerLink="locations">Location</a>
    </div>

  </mat-toolbar>
</p>
