<div class="container-menu">
  <div class="container">
  <div class="container-text">
    <h1> API Rick and Morty </h1> <br>
    <p>In this website we can see how to consume a Rick and Morty API. We will be able to view the list of characters, episodes
       and locations from the series. You can click on the options in the navbar to see whatever category you want. You can also
      view the details of each character by clicking on them in the list. </p>
    </div>
  <img alt="img-rick-and-morty" src="../../../assets/images/Rick-and-Morty.png" class="image">
</div>
</div>

