@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: 'rick-and-morty';
  src: url(./assets/fonts/get_schwifty.ttf) format("truetype");
}

html, body {
  height: 100%;
  background: url(https://i.pinimg.com/originals/62/40/53/624053b5cf52686164499bfd2f7e4a85.png);
  background-size: auto;
  background-repeat: repeat;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
